<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gota eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- serch area -->
    <div class="search_area">
        <div class="search_close">
            <span><i class="fal fa-times"></i></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="search-wrapper text-center">
                        <h2>search</h2>
                        <div class="search-filtering pt-30">
                            <div class="search_tab">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                            data-bs-target="#home2" type="button" role="tab" aria-selected="true">All
                                            categories</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                            data-bs-target="#profile2" type="button" role="tab"
                                            aria-selected="false">Basketball</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact2"
                                            type="button" role="tab" aria-selected="false">Handbag</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                            data-bs-target="#sportswear" type="button" role="tab"
                                            aria-selected="false">Sportswear</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="profile2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="contact2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_search">
                            <form action="#">
                                <input type="text" name="search" placeholder="search products">
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fix">
        <div class="side-info">
            <button class="side-info-close"><i class="fal fa-times"></i></button>
            <div class="side-info-content">
                <div class="mobile-menu"></div>
                <div class="contact-infos mb-30">

                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>123/A, Miranda City Likaoli
                            Prikano, Dope</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p>+0989 7876 9865 9</p>
                        <p>+(090) 8765 86543 85</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="f0999e969fb09588919d809c95de939f9d">[email&#160;protected]</a></p>
                        <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="1d78657c706d717833707c74715d756870337e7270">[email&#160;protected]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>
    <!--  -->
    <!-- single_breadcrumb_area start  -->
    <div class="single_breadcrumb pt-25">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="single_product_tab">
                                <div class="single_prodct">
                                    <ul class="nav nav-tabs justify-content-center mb-55" id="dfde" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                data-bs-target="#homde" type="button" role="tab"
                                                aria-selected="true"><img
                                                    src="/product-images/<%= DetailProduct.productImage[0] %>"
                                                    alt=""></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#profidfdle" type="button" role="tab"
                                                aria-selected="false"><img
                                                    src="/product-images/<%= DetailProduct.productImage[1] %>"
                                                    alt=""></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contadfdct"
                                                type="button" role="tab" aria-selected="false"><img
                                                    src="/product-images/<%= DetailProduct.productImage[2] %>"
                                                    alt=""></button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="kids-tab" data-bs-toggle="tab"
                                                data-bs-target="#kidsdfd" type="button" role="tab"
                                                aria-selected="false"><img
                                                    src="/product-images/<%= DetailProduct.productImage[3] %>"
                                                    alt=""></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="single_preview_product">
                                <div class="single-popup-view">
                                    <a class="popup-image" href="assets/img/product/17-3.jpg"><i
                                            class="fal fa-search"></i></a>
                                </div>
                                <div class="tab-content" id="myTabefContent">
                                    <div class="tab-pane fade show active" id="homde" role="tabpanel">
                                        <div class="full-view">
                                            <img src="/product-images/<%= DetailProduct.productImage[0] %>" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profidfdle" role="tabpanel">
                                        <div class="full-view">
                                            <img src="/product-images/<%= DetailProduct.productImage[1] %>" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contadfdct" role="tabpanel">
                                        <div class="full-view">
                                            <img src="/product-images/<%= DetailProduct.productImage[2] %>" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="kidsdfd" role="tabpanel">
                                        <div class="full-view">
                                            <img src="/product-images/<%= DetailProduct.productImage[3] %>" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="single_preview_content pl-30">
                        <h2 class="title-5 edit-title border-bottom-0">
                            <%= DetailProduct.shoename %>
                        </h2>
                        <div class="s-product-review">
                            <span><i class="far fa-star start-color"></i></span>
                            <span><i class="far fa-star start-color"></i></span>
                            <span><i class="far fa-star start-color"></i></span>
                            <span><i class="far fa-star start-color"></i></span>
                            <span><i class="far fa-star"></i></span>
                            <span class="pl-left">(1 customer review)</span>
                        </div>

                        <div class="s-des">
                            <p>Companyname:<%= DetailProduct.companyname %>
                            </p>
                            <p>Color:<%= DetailProduct.color %>
                            </p>

                            <p>size:<%= DetailProduct.size %>
                            </p>
                            <p>Description:<%= DetailProduct.description %>
                            </p>
                            <li>category:<%= DetailProduct.category %>
                            </li>
                        </div>
                        <div class="s-price pt-30 mb-30">
                            <% if (DetailProduct.offerAmount) { %>
                                <span><del>Price:<%= DetailProduct.price %></del></span><br>
                                <span>Price:<%= DetailProduct.offerAmount %></span>
                                <% } else { %>
                                    <span>Price:<%= DetailProduct.price %></span>
                                    <% } %>

                        </div>
                        <div class="viewcontent__action single_action pt-30">
                            <!-- <span><input type="number" placeholder="1"></span> -->
                            <% if (DetailProduct.productstock) { %>
                                <button class="p-absoulute pr-2  mr-5" style="border: none; width: 10% ; height: 40px;"
                                    id="cartButton" onclick="addTOCart('<%= DetailProduct._id %>')">add to cart<i
                                        class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                <% } else { %>
                                    <p class="h5 text-danger">sorry,this product is currently out of stock</p>
                                    <% } %>

                                        <button class="fal fa-heart" style="border: none; " id="wishlistButton"
                                            onclick="wishlist('<%= DetailProduct._id %>')">wishlist</button>
                                        <!-- <span><i class="fas fa-compress"></i></span> -->
                        </div>
                        <div class="viewcontent__footer border-top-0 border-bottom pb-30">
                            <ul>


                            </ul>
                            <ul>
                                <!-- <li>jackets, Youth</li> -->
                                <!-- <li>woo-hoodie-with-logo</li>  -->
                            </ul>
                        </div>
                        <div class="social__media f-social-media mb-30 pt-15">
                            <h3 class="f-title edit-f-title">FOLLOW US ON</h3>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>

            </div>




        </div>

    </div>
    <!-- single_breadcrumb_area end -->
    </div>
    </div>
    </div>
    </div>
    </div>
</body>

</html>
<script src="https://unpkg.com/js-image-zoom/js-image-zoom.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-image-zoom/js-image-zoom.min.js"></script>
<script>
    var options = {
        width: 400,
        scale: 1,
        zoomPosition: 'right' // required
        // more options here
    };
    new ImageZoom(document.getElementById("homde"), options);
    new ImageZoom(document.getElementById("profidfdle"), options);
    new ImageZoom(document.getElementById("contadfdct"), options);
    new ImageZoom(document.getElementById("kidsdfd"), options);

</script>

<script>

    function addTOCart(proID) {
        console.log("}}}}}}}}}}}}}}}}}}}");
        $.ajax({

            url: '/Add-to-cart/' + proID,
            method: 'get',
            success: (response) => {
                swal("Added to cart!", "", "success");

            },
            error: function (xhr, status, error) {
                console.log(error);

                if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Stock limit Exceeded") {

                    // alert("Stock limit Exceeded");
                    swal({
                        title: "Stock Limit Exceeded",

                        icon: "warning",

                        dangerMode: true,
                    })


                } else {
                    $('#error').text(error);
                }

            }
        })
    }

</script>

<script>

    function wishlist(proID) {

        console.log("++++++++++++++++");

        $.ajax({

            url: '/Add-to-wishlist/' + proID,
            method: 'get',
            success: (response) => {

                swal("Added to Wishlist!", "", "success");
            }
        })
    }

</script>