<div class="search_area">
  
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">
                        <div class="search_tab">
                           
                            <div class="tab-content" id="myconte">
                                <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                    >

                                </div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel"
                                    >

                                </div>
                                <div class="tab-pane fade" id="contact2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="sportswear" role="tabpanel"
                                    >

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_search">
                        <form action="#">
                            <input type="text" placeholder="Search here..." id="search-input"
                            onkeyup="searchProducts()">
                            <!-- <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button> -->
                            
                            <div class="search_close">
                                <!-- <span><i class="fal fa-times"></i></span> -->
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-layout" data-background="/Banner-images/63b29e0c4c8c0005cca19eba.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">shop</h2>
                    <div class="breadcrumb-menu">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="shop.html">shop</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- shop page start -->
<div class="shop-page pt-85">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="sidebar">
                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Product categories</h3>
                        <ul class="product-categories">
                            <% getCategoryData.forEach(function(product, i){ %>
                            
                            <a href="">
                             
                                <form action="/categoryfilter" method="post">
                                  
                                    <input type="text" name="name" value="<%= product.name %>" hidden>
                                    <button type="submit" class="btn btn-color"><%= product.name %></button>



                                </form>


                            </a>
                           
                            <% }); %>  
                        </ul>
                    </div>
                    <h3 class="widget-title mb-30">Product Price Filter</h3>
                    <form action="/priceFilter" method="post">
                        <label for="min-price">Min price:</label><br>
                        <input type="number" id="min-price" min="0" value="0" name="minprice"><br>
                        <label for="max-price">Max price:</label><br>
                        <input type="number" id="max-price" min="0" value="100" name="maxprice"><br>
                        <button type="submit" class="btn btn-dark mt-3">Filter</button>
                      </form>
                 
                
                </div>
            </div>
            
            
          

            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                
                <div class="shop-page-product pt-50 pb-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="row">
                                        <% ShowProducts.forEach(function(product, i){ %>
                                        <div class="col-xl-6">
                                            <div class="product product-4">
                                                <div class="product__thumb">
                                                    <a href="">
                                                        <a href="/productDetails/<%= product._id %>"><img class="product-primary" src="product-images/<%= product._id %>.jpg" alt="product_image"></a>
                                                        <!-- <img class="product-secondary" src="assets/img/product/17-2.jpg"
                                                            alt="product_image"> -->
                                                    </a>
                                                    <!-- <div class="product__update">
                                                        <a class="#">new</a>
                                                    </div> -->
                                                    <div class="product-info mb-10">
                                                        <div class="product_category">
                                                            <span>Shoes, Clothing</span>
                                                        </div>
                                                        <div class="product_rating">
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star start-color"></i></a>
                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                            <a href="#"><i class="fal fa-star"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="product__name">
                                                        <h4><a href=""><%= product.shoename %></a></h4>
                                                        <div class="pro-price">
                                                            <p class="p-absoulute pr-1"><span></span>price:<%= product.price %><span></span></p>
                                                        <!-- <h4><a href=""><%= product.shoename %></a></h4> -->
                                                        <% if (product.productstock) { %>
                                                            <button class="p-absoulute pr-2 " style="border: none;"  onclick="addTOCart('<%= product._id %>')">add to car</button> 
                                                            <% } %>
                                                        </div>
                                                        <h4><a href="">category:<%= product.category %></a></h4>
                                                    </div>
                                                    <div class="product__action">
                                                        <div class="inner__action">
                                                            <div class="wishlist">
                                                                <a href="#"><i class="fal fa-heart"></i></a>
                                                            </div>
                                                            <div class="view">
                                                                <a href="javascript:void(0)"><i
                                                                        class="fal fa-eye"></i></a>
                                                            </div>
                                                            <div class="layer">
                                                                <a href="#"><i class="fal fa-layer-group"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop page end -->

           
<!-- shop page end -->

<div id="overlay-container"
    style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(10, 6, 6, 0.7);">

    
    <button id="close-button" onclick="closeOverlay()">Close</button>
</div>

<script>

function searchProducts() {
    console.log("+++++++++++++");
    var searchValue = document.getElementById("search-input").value;
        console.log(searchValue);
    $.ajax({
        url: '/search',
        data: {
            searchValue,
        },
        method: 'post',
        success: (data) => {
            console.log(data);
            if (data) {
                // Show the overlay container
                document.getElementById("overlay-container").style.display = "block";
                generateOverlayPageHTML(data);
            } else {
                // Hide the overlay container
                document.getElementById("overlay-container").style.display = "none";
            }
        }
    });
}
function closeOverlay() {
    console.log("jhdhgdghsadvaghdfhgsfshgvsghdfghfdgffgdfsghfdhgfdvghvdhgfdghaghfadfghasfdgha");
        document.getElementById("overlay-container").style.display = "none";
    }

    function generateOverlayPageHTML(data) {

  const html = `
    <div class="col-xl-3 col-lg-4 col-md-6 ">
      <div class="product-wrap bg-light  " style="width: 400px; margin-left:400px; margin-top:20px;">
        <div class="product-img mb-15">
          <a href="/productdetails/${data._id}">
            <img src="/product-images/${data._id}.jpg" alt="product">
          </a>
          <div class="product-action">
          </div>
        </div>
        <div class="product-content">
          <span>${data.category}</span>
          <h4>
            <a href="/productdetails/${data._id}">${data.shoename}</a>
          </h4>
          <div class="price-addtocart">
            <div class="product-price">
              <span>₹${data.price}</span>
            </div>
            <div class=""viewcontent__action single_action pt-30"">
            </div>
          </div>
        </div>
      </div>
    </div>
  `;
  // Inject the HTML into the overlay container
  document.getElementById("overlay-container").innerHTML = html;
}
</script>

<script>

    function addTOCart(proID){
     
      $.ajax({

        url:'/Add-to-cart/'+proID,
        method:'get',
        success:(response)=>{

          location.reload()
        }
      })
    }
    const form = document.getElementById('price-filter');
form.addEventListener('submit', e => {
  e.preventDefault();
  const minPrice = form.elements['min-price'].value;
  const maxPrice = form.elements['max-price'].value;
  // Filter the products by price using minPrice and maxPrice
});
</script>

