<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gota eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<div class="search_area">
    <div class="search_close">
        <span><i class="fal fa-times"></i></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">
                        <div class="search_tab">
                            <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                        data-bs-target="#home2" type="button" role="tab" aria-selected="true">All
                                        categories</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                        data-bs-target="#profile2" type="button" role="tab"
                                        aria-selected="false">Basketball</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact2"
                                        type="button" role="tab" aria-selected="false">Handbag</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                        data-bs-target="#sportswear" type="button" role="tab"
                                        aria-selected="false">Sportswear</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="contact2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_search">
                        <form action="#">
                            <input type="text" name="search" placeholder="search products">
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">

                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli
                        Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="f0999e969fb09588919d809c95de939f9d">[email&#160;protected]</a></p>
                    <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="1d78657c706d717833707c74715d756870337e7270">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- cart area start  -->
<div class="cart__sidebar">
    <div class="container">
        <div class="cart__content">
            <div class="cart-text">
                <h3 class="mb-40">Shopping cart</h3>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="assets/img/product/29-3.jpg" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a href="shop.html">Running 3-Stripes</a></h5>
                        <p>1 × $66.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="assets/img/product/17.jpg" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a href="shop.html">Buddy non Stripes</a></h5>
                        <p>1 × $40.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="cart-icon">
                <i class="fal fa-times"></i>
            </div>
            <div class="cart-bottom">
                <div class="cart-bottom__text">
                    <span>Subtotal:</span>
                    <span class="end">$121.00</span>
                    <a href="cart.html">view cart</a>
                    <a href="checkout.html">checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-offcanvas-overlay"></div>
<div class="search_area">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">
                        <div class="search_tab">

                            <div class="tab-content" id="myconte">
                                <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="contact2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_search">
                        <!-- <form action=""> -->
                        <input type="text" placeholder="Search here..." id="search-input" onkeyup="searchProducts()">
                        <!-- <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button> -->

                        <div class="search_close">
                            <!-- <span><i class="fal fa-times"></i></span> -->
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="page-layout" data-background="/Banner-images/63b29e0c4c8c0005cca19eba.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">shop</h2>
                    <div class="breadcrumb-menu">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="shop.html">shop</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- shop page start -->
<div class="shop-page pt-85">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="sidebar">
                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Product categories</h3>
                        <ul class="product-categories">
                            <a href="/ShopButton"><button type="submit" class="btn btn-color">All Product</button></a <%
                                getCategoryData.forEach(function(product, i){ %>

                            <a href="">

                                <form action="/categoryfilter" method="post">

                                    <input type="text" name="name" value="<%= product.name %>" hidden>

                                    <button type="submit" class="btn btn-color">
                                        <%= product.name %>
                                    </button>



                                </form>


                            </a>

                            <% }); %>
                        </ul>
                    </div>
                    <h3 class="widget-title mb-30">Product Price Filter</h3>
                    <form action="/priceFilter" method="post">
                        <label for="min-price">Min price:</label><br>
                        <input type="number" id="min-price" min="0" value="0" name="minprice"><br>
                        <label for="max-price">Max price:</label><br>
                        <input type="number" id="max-price" min="0" value="100" name="maxprice"><br>
                        <button type="submit" class="btn btn-dark mt-3">Filter</button>
                    </form>


                </div>
            </div>




            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

                <div class="shop-page-product pt-50 pb-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="row">

                                        <% ShowProducts.forEach(function(product, i){ %>
                                            <div class="col-xl-6">
                                                <div class="product product-4">
                                                    <div class="product__thumb">
                                                        <a href="">
                                                            <a href="/productDetails/<%= product._id %>"><img
                                                                    class="product-primary"
                                                                    src="product-images/<%= product.productImage[0] %>"
                                                                    alt="product_image"></a>
                                                            <!-- <img class="product-secondary" src="assets/img/product/17-2.jpg"
                                                            alt="product_image"> -->

                                                        </a>
                                                        <!-- <div class="product__update">
                                                        <a class="#">new</a>
                                                    </div> -->
                                                        <div class="product-info mb-10">
                                                            <div class="product_category">
                                                                <span>Shoes, Clothing</span>
                                                            </div>
                                                            <div class="product_rating">
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product__name">
                                                            <h4><a href="">
                                                                    <%= product.shoename %>
                                                                </a></h4>
                                                            <div class="pro-price">
                                                                <p class="p-absoulute pr-1"><span></span>price:<%=
                                                                        product.price %><span></span></p>
                                                                <!-- <h4><a href=""><%= product.shoename %></a></h4> -->
                                                                <% if (product.productstock) { %>
                                                                    <button class="p-absoulute pr-2 "
                                                                        style="border: none;" id="cartButton"
                                                                        onclick="addTOCart('<%= product._id %>')">add to
                                                                        car<i class="fa fa-cart-arrow-down"
                                                                            aria-hidden="true"></i></button>
                                                                    <% } %>
                                                            </div>
                                                            <h4><a href="">category:<%= product.category %></a></h4>
                                                        </div>
                                                        <div class="product__action">
                                                            <div class="inner__action">
                                                                <div class="wishlist">
                                                                    <a id="wishlistButton"
                                                                        onclick="wishlist('<%= product._id %>')"><i
                                                                            class="fal fa-heart"></i></a>
                                                                </div>
                                                                <div class="view">
                                                                    <a href="/productDetails/<%= product._id %>"><i
                                                                            class="fal fa-eye"></i></a>
                                                                </div>
                                                                <div class="layer">
                                                                    <a href="#"><i class="fal fa-layer-group"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(locals.error) { %>
        <p class="text-center">
            <%= error %>
        </p>
        <% } %>
            <!-- shop page end -->


            <!-- shop page end -->

            <div id="overlay-container"
                style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(10, 6, 6, 0.7);">


                <button id="close-button" onclick="closeOverlay()">Close</button>
            </div>

</html>


<script>

    function searchProducts() {

        var searchValue = document.getElementById("search-input").value;

        $.ajax({
            url: '/search',
            data: {
                searchValue,
            },
            method: 'post',
            success: (data) => {

                if (data) {
                    // Show the overlay container
                    document.getElementById("overlay-container").style.display = "block";
                    generateOverlayPageHTML(data);
                } else {
                    // Hide the overlay container
                    document.getElementById("overlay-container").style.display = "none";
                }
            }
        });
    }
    function closeOverlay() {
        console.log("jhdhgdghsadvaghdfhgsfshgvsghdfghfdgffgdfsghfdhgfdvghvdhgfdghaghfadfghasfdgha");
        document.getElementById("overlay-container").style.display = "none";
    }

    function generateOverlayPageHTML(data) {

        const html = `
    <div class="col-xl-3 col-lg-4 col-md-6 ">
      <div class="product-wrap bg-light  " style="width: 400px; margin-left:400px; margin-top:20px;">
        <div class="product-img mb-15">
          <a href="/productdetails/${data._id}">
            <img src="/product-images/${data.productImage[0]}" alt="product">
          </a>
          <div class="product-action">
          </div>
        </div>
        <div class="product-content">
          <span>${data.category}</span>
          <h4>
            <a href="/productdetails/${data._id}">${data.shoename}</a>
          </h4>
          <div class="price-addtocart">
            <div class="product-price">
              <span>₹${data.price}</span>
            </div>
            <div class=""viewcontent__action single_action pt-30"">
            </div>
          </div>
        </div>
      </div>
    </div>
  `;
        // Inject the HTML into the overlay container
        document.getElementById("overlay-container").innerHTML = html;
    }
</script>

<script>

    function addTOCart(proID) {

        $.ajax({

            url: '/Add-to-cart/' + proID,
            method: 'get',
            success: (response) => {

                //   location.reload()
                swal("Added to cart!", "", "success");
            },
            error: function (xhr, status, error) {
                console.log(error);

                if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Stock limit Exceeded") {

                    // alert("Stock limit Exceeded");
                    swal({
                        title: "Stock Limit Exceeded",

                        icon: "warning",

                        dangerMode: true,
                    })


                } else {
                    $('#error').text(error);
                }

            }
        })
    }
    const form = document.getElementById('price-filter');
    form.addEventListener('submit', e => {
        e.preventDefault();
        const minPrice = form.elements['min-price'].value;
        const maxPrice = form.elements['max-price'].value;
        // Filter the products by price using minPrice and maxPrice
    });
</script>


<script>

    function wishlist(proID) {

        console.log("++++++++++++++++");

        $.ajax({

            url: '/Add-to-wishlist/' + proID,
            method: 'get',
            success: (response) => {

                swal("Added to Wishlist!", "", "success");
            }
        })
    }

</script>