<section class="h-100 gradient-custom ml-200" style="margin-top: 5%;" id="footer">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <table class="table datatable" id="example">
                <thead>
                  <tr>
                    <th>status</th>
                    <th>UserName</th>
                    <th>email</th>
                    <th>mobileNumber</th>
                    <th>block&unblock</th>


                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(function(user, i){ %>

                    <tr>
                      <td class="w-25">
                        <% if (user.isBlocked) { %>
                          <img src="https://betanews.com/wp-content/uploads/2019/04/blocked-stamp.jpg" alt=""
                            style="width: 100px;height: 100px;">
                          <% } else { %>
                            <img src="https://cdn-icons-png.flaticon.com/128/4205/4205906.png"
                              class="img-fluid img-thumbnail" alt="Sheep">
                            <% } %>
                      </td>
                      <!-- <th scope="row"> <%= i+1 %></th> -->
                      <td>
                        <%= user.name %>
                      </td>
                      <td>
                        <%= user.email %>
                      </td>
                      <td>
                        <%= user.phone %>
                      </td>
                      <td>
                        <form action="/admin/Block/<%= user._id %>" method="post">

                          <input name="status" value="<%= user.isBlocked %>" hidden>
                          <% if (user.isBlocked) { %>
                            <button type="submit" class="btn btn-dark mt-3">Unblock</button>
                            <% } else { %>
                              <button type="submit" class="btn btn-dark">Block</button>
                              <% } %>
                      </td>
                      </form>
                    </tr>
                    <% }); %>

                </tbody>
              </table>
            </div>
          </div>
        </div>