<!-- Recent Sales -->
<div class="col-12" id="footer" style="margin-top: 5%;">
  <div class="card recent-sales overflow-auto">

    <div class="card-body">


      <table class="table table-borderless datatable" id="invoice">
        <thead>
          <tr>
            <th scope="col">OrderID</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">quantity</th>

            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% salesReport.forEach(function(order, i){ %>
            <tr>
              <th scope="row"><a href="#">
                  <%= order._id %>
                </a></th>
              <td>
                <%= order.product.shoename %>
              </td>
              <td>
                <%= order. deliveryDetails.fname %>
              </td>
              <td>
                <%= order.date.toISOString().split('T')[0]; %>
              </td>

              <td>
                <%= order.products.quantity %>
              </td>

              <td>
                <%= order.TotalAmount %>
              </td>
              <td><span class="badge bg-success">
                  <%= order.shippingStatus %>
                </span></td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <button type="button" id="download-button" class="badge bg-dark bg-lg"><i class=""></i> Download PDF</button>

      <button type="button" id="download-button" class="badge bg-dark bg-lg" onclick="export_data()"><i class=""></i>
        Download Excel</button>

    </div>

  </div>
</div><!-- End Recent Sales -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.4/xlsx.full.min.js"></script>

<script>
  const button = document.getElementById('download-button');

  function generatePDF() {
    // Choose the element that your content will be rendered to.
    const element = document.getElementById('invoice');
    // Choose the element and save the PDF for your user.
    html2pdf().from(element).save();
  }

  button.addEventListener('click', generatePDF);

  function export_data() {
    console.log('Exporting data...');
    let data = document.getElementById('invoice');
    var wb = XLSX.utils.table_to_book(data, { sheet: 'rashid' });

    // Convert the workbook to an array of arrays
    var rows = XLSX.utils.sheet_to_json(wb.Sheets['rashid'], { header: 1 });

    // Create a new workbook and sheet
    var newWorkbook = XLSX.utils.book_new();
    var newSheet = XLSX.utils.aoa_to_sheet(rows);

    // Add the sheet to the workbook
    XLSX.utils.book_append_sheet(newWorkbook, newSheet, 'Sheet1');

    // Save the workbook to a file
    XLSX.writeFile(newWorkbook, 'test.xlsx');
  }

</script>