<section id="footer" class="mt-5">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Address</th>
            <th scope="col">Date</th>
            <!-- <th scope="col">Mobile</th> -->
            <th scope="col">Status</th>
            <th scope="col">ShippingStatus</th>
            <th scope="col">payment</th>
            <th scope="col">TotalPrice</th>
            <!-- <th scope="col">Pincode</th> -->
            <th scope="col">Product</th>
          </tr>
        </thead>
        <tbody>
            <% UserOrder.forEach(function(order, i){ %>
          <tr >
        
          
            <td><%= order.deliveryDetails.fname %></td>
            <td><%= order.deliveryDetails.add1 %></td>
            <td><%= order.date %></td>
            <!-- <td><%= order.deliveryDetails.phone %></td> -->
            <td><%= order.status %>
              <form action="/admin/adminCancelOrder/<%= order._id %>" method="post">

                <input name="status" value="<%= order.status %>" hidden>
                
               
                <button type="submit" class="badge bg-danger" style="border: none;">Cancel</button>

            
            </td>
          </form>
          <td><%= order.shippingStatus %>
            <div class="btn-group">
              <p type="button" class="badge bg-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OrderStatus
              </p>
              <form action="/admin/shippingStatus/<%= order._id %>" method="post">
              <div class="dropdown-menu">
                
                <button class="dropdown-item" type="submit" value="Ordered" name="shippingStatus" >Order</button>
                <button class="dropdown-item" type="submit" value="Shipped" name="shippingStatus" >Shipped</button>
                <button class="dropdown-item" type="submit" value="Arraving" name="shippingStatus" >Arraving</button>
                <button class="dropdown-item" type="submit" value="Delivered" name="shippingStatus" >Delivered</button>
              
              </div>
            </div>
          
          </td>
        </form>
            <td><%= order.PaymentMethod %></td>
            <td><%= order.TotalAmount %></td>
            <!-- <td><%= order.deliveryDetails.postcode %></td> -->

            <td>
               
                <a href="/admin/adminProductView/<%= order._id %>"><p type="submit" class="badge bg-success">View Product</p></a>
              
              </td>
             
            
          </tr>
          <% }); %> 
        </tbody>
      </table>
    </section>